.bannerImg {
    position: relative;
}
.bannerImg .tips {
    width: 9.328358rem;
    height: 3.464819rem;
    background:rgba(14,86,160,1);
    border-radius:10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 .746269rem;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    z-index: 8;
}
.bannerImg .tips h3 {
    font-size: .479744rem;
    margin-bottom: .399787rem;

}
.bannerImg .tips p {
    font-size: .266525rem;
    text-align: center;
}
.empty {
    height: 2.765245rem;
}
.category {
    background: url('../../img/about/about-bg.png') no-repeat;
    background-position: center;
    background-size: cover;

}
.category .item {
    width: 100%;
    height: 2.798507rem;
    display: flex;
}
.category .details {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category .details img {
    width: 1.19936rem;
    height: 1.19936rem;
    margin-right: .266525rem;
}
.category .details h3 {
    font-size: .346482rem;
    color: #0E56A0;
    font-weight: bold;
}
.category .details p {
    color: #757575;
    font-size: .266525rem;
}
.category .item >img {
    width: 50%;
    height: 100%;
}