/* 头部 */
.header-cot {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.header-cot img {
    width: 1920px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
.header-cot header {
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(14,86,160,0.9);
    z-index: 99;
}
.header-cot .wrap h3 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-top: 180px;
}
.header-cot .wrap p {
    font-size: 22px;
    color: #fff;
    margin: 20px 0 30px 0;
} 
.header-cot .wrap .button {
    display: block;
    color: #fff;
    font-size: 22px;
    width: 200px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
    border: 1px solid #fff;
    cursor: pointer;
}
/* 产品概述 */
section .wrap h3 {
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}
section .wrap.product p{
    font-size: 22px;
    color: #757575;
    text-align: center;
}
section .wrap.product img {
    width: 1154px;
    height: auto;
    margin-left: 23px;
}
/* 整体介绍 */
.introduce {
    overflow: hidden;
}
.introduce .item{
    width: 580px;
    height: 420px;
    float: left;
}
.introduce .item:first-of-type {
    margin-right: 40px;
}
.introduce .item img {
    display: block;
    width: 580px;
    height: 320px;
}
.introduce .item .title {
    background: #0E56A0;
    color: #fff;
    text-align: center;
    height: 100px;
    padding-top: 22px; 
}
.introduce .item:last-child .title {
    padding-top: 16px; 
}
.introduce .item .title span {
    font-size: 34px;
}
.introduce .item .title b {
    font-size: 20px;
}
.introduce .item .title {
    font-size: 22px;
}
/* 特色亮点 */
.features-title {
    color: #0E56A0;
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}
.features {
   height: 440px; 
   width: 100%;
   background: url("../../img/product/product-features.png") no-repeat;
   background-size: cover;
   background-position: center;
   padding: 50px 0;
}
.features h3 {
    color: #fff;;
}
.features span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius:50%;
    color: #0E56A0;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
}
.features p {
    color: #fff;
    font-size:18px;
    margin-bottom: 22px;
    text-align: center;
}