/* 头部导航 */
header {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    background: #2063A7;
    width: 100%;
    z-index: 888;
}
header .wrap {
    position: relative;
    display: flex;
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
header .wrap img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    width: 160px;
    height: 48px;
}
header .wrap ul {
    height: 100%;
    line-height: 60px;
    margin-left: 372px;
}
header .wrap ul li {
    position: relative;
    display: inline-block;
    padding: 0 22px;
    margin-left: 40px;
}
header .wrap ul li a {
    color: #fff;
}
header .wrap ul li .line {
    position: absolute;
    height: 2px;
    width: 100%;
    display: inline-block;
    bottom: 0px;
    left: 0;
    background: #fff;
}
header .wrap ul li.product:hover .productType{
    display: block;
}
header .wrap ul li.product .productType{
    display: none;
    position: absolute;
    width: 100%;
    bottom: -150px;
    left: 0;
    background: #fff;
    box-shadow:0px 4px 7px 0px rgba(135,135,135,0.6);
    border-radius:0px 0px 3px 3px;
    padding-top: 15px;
    z-index: 999;
}
header .wrap ul li.product .productType.solution {
    bottom: -190px;
}
header .wrap ul li.product .productType::after {
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #FFF;
    position: absolute;;
    display: inline-block;
    content: '';
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
header .wrap ul li.product .productType span {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 45px;
    line-height: 45px;
}
header .wrap ul li.product .productType span:hover {
    background: #ECECEC;
    color: #4B7EB4;
}
header .wrap ul li.product .productType span.active {
    background: #ECECEC;
    color: #4B7EB4;
}
.center_x {
    width: 1920px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
.wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* **************************** footer start ****************************** */
#footer{
    width:100%;
    height:400px;
    position: relative;
}
.fooetr-nav{
    width:100%;
    padding-top:50px;
    height:342px;
    position: relative;
    border-bottom:1px solid #373737;
}
.fooetr-nav ul {
    overflow: hidden;
}
.fooetr-nav li{
    width: 240px;
    margin-right: 80px;
}
.fooetr-nav li:last-child {
    margin-right: 0;
}
.fooetr-nav .footer-title{
    color:#ffffff;
    font-size:20px;
    margin-bottom:20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}
.fooetr-nav .footer-links{
    display:block;
    color:#fff;
    font-size:16px;
    line-height:16px;
    margin-bottom:20px;
}
.fooetr-nav .footer-links:hover{
    color:#fff;
}

.footer-qrcode {
    width: 130px;
}
.keep-on-record{
    width:100%;
    line-height:72px;
    color:#fff;
    font-size:14px;
    text-indent: 200px;
}
.keep-on-record a {
    display: inline-block;
    margin-left: 10px;
}
/* **************************** footer end ****************************** */
/* **************************** 商务咨询通道 start ****************************** */
.aisle {
    padding-bottom: 60px;
}
.aisle h3 {
    font-size: 30px;
    text-align: center;
    /* margin-bottom: 60px; */
    color: #434343;
}
.aisle .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around
}
.aisle li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.aisle li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.aisle li img {
    width: 40px;
    height: 40px;
    margin-right: 18px;
}
.aisle li span {
    font-size: 20px;
    color: #757575;
}
.aisle .btn {
    display: block;
    width: 260px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: #fff;
    border-radius: 35px;
    background: #0E56A0;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
}
/* **************************** 商务咨询通道 end ****************************** */
/* **************************** 返回顶部 start ****************************** */
.toTop {
    position: fixed;
    right: 0;
    top: 300px;
    z-index: 9999;
    background: #0E56A0;
    padding: 0 6px;
    border-radius:10px;
}
.toTop li {
    border-bottom: 1px solid #fff;
    padding: 6px 0px;
    cursor: pointer;
}
.toTop li:last-child {
    border: none;
}
.toTop li img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.toTop .qrcode {
    position: relative;
}
.toTop .qrcode:hover .bg-qrcode {
    display: block;
}
.toTop .qrcode .bg-qrcode {
    display: none;
    position: absolute;
    width: 180px;
    height: 180px;
    left: -180px;
    top: 0;
}
.toTop li span {
    display: block;
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
}
/* **************************** 返回顶部 end ****************************** */
