.fananBg .content {
    margin: auto;
    width: 7.462687rem;
    color: #757575;
    font-size: .266525rem;
    line-height: .426439rem;
    text-align: center;
}
.cooperation .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #E8F4FC;
    padding: .453092rem .533049rem;
}
.cooperation img {
    width: .959488rem;
    height: .959488rem;
}
.cooperation h4 {
    font-size: .346482rem;
    color: #434343;
    margin: .319829rem 0;
}
.cooperation .line {
    width: .692964rem;
    height: 2px;
    background: #0D559F;
    border-radius:2px;
    margin-bottom: .266525rem;
}
.cooperation p {
    color: #757575;
    font-size: .266525rem;
    line-height: .426439rem;
    text-align: center;
}
.cooperation .item:first-child {
    margin-right: .399787rem;
}
.cooperation .item {
    width: 4.264392rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: .506397rem .266525rem;
    margin-bottom: .399787rem;
}
.structure .content{
    background: url('../../img/solution/structure-bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 6.396588rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.structure .content.content-three {
    background: url('../../img/solution/structure-3000-bg.png') no-repeat;
    background-position: center;
    background-size: contain;
    height: 5.75693rem;
}
.structure .content.content-five {
    height: 8.26226rem;
    flex-direction: column;
}
.structure .content.content-five img {
    display: block;
    height: 3.411514rem;
    margin-bottom: .399787rem;
}
.structure .content img {
    width: 8.608742rem;
    height: 5.597015rem;
}
.bannerImg {
    position: relative;
}
.bannerImg .category {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 7.462687rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3.997868rem;
    justify-content: space-between;
}
.bannerImg .category p {
    font-size: .479744rem;
    color: #fff;
}
.bannerImg .category p:last-of-type {
    font-weight: bold;
}
.bannerImg .category ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bannerImg .category ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border-radius:.133262rem .133262rem 0px 0px; */
}
.bannerImg .category ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1.465885rem;
    height: 1.465885rem;
    border-radius:.133262rem .133262rem 0px 0px;
}
.bannerImg .category ul li.active {
    background: #fff;
}
.bannerImg .category ul li.active span {
    color: #120E16;
}
.bannerImg .category ul img {
    width: .692964rem;
    height: .692964rem;
    margin-bottom: .133262rem;
}
.bannerImg .category ul span {
    font-size: .266525rem;
    color: #fff;
}