/* 平台优势 */
.platform-advantages .content {
    background: #E8F4FC;
    padding: 0 .333049rem;
    padding-bottom: .666311rem;
    overflow: hidden;
}
.platform-advantages .content .item {
    display: flex;
    align-items: center;
    margin-top: .666311rem;
}
.platform-advantages .content .left {
    width: 1.332623rem;
    height: 1.332623rem;
    margin-right: .319829rem;
}
.platform-advantages .content .left img {
    width: 100%;
    height: 100%;
}
/* .platform-advantages .content .item:nth-of-type(1) .left {
    background: url('../../img/join/platform-advantages-bg-1.png') no-repeat;
    background-size: 1.332623rem 1.332623rem;
}
.platform-advantages .content .item:nth-of-type(2) .left {
    background: url('../../img/join/platform-advantages-bg-1.png') no-repeat;
    background-size: 1.332623rem 1.332623rem;
}
.platform-advantages .content .item:nth-of-type(3) .left {
    background: url('../../img/join/platform-advantages-bg-1.png') no-repeat;
    background-size: 1.332623rem 1.332623rem;
}
.platform-advantages .content .item:nth-of-type(4) .left {
    background: url('../../img/join/platform-advantages-bg-1.png') no-repeat;
    background-size: 1.332623rem 1.332623rem;
} */
.platform-advantages .content .right {
    width: 7.862473rem;
}
.platform-advantages .content .right h4{
    color: #0D559F;
    font-size: .346482rem;
    margin-bottom: .239872rem;
    font-weight: bold;
}
.platform-advantages .content .right p {
    color: #757575;
    font-size: .266525rem;
}
/* 合作优势 */
.cooperation .content {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-left: .21322rem;
}
.cooperation img {
    width: .986141rem;
    height: .986141rem;
}
.cooperation h4 {
    font-size: .346482rem;
    color: #434343;
    margin: .319829rem 0;
}
.cooperation .line {
    width: .692964rem;
    height: 2px;
    background: #0D559F;
    border-radius:2px;
    margin-bottom: .266525rem;
}
.cooperation p {
    color: #757575;
    font-size: .266525rem;
    line-height: .426439rem;
    text-align: center;
}
.cooperation .item:first-child {
    /* margin-right: .399787rem; */
}
.cooperation .item {
    width: 3.065032rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: .506397rem .266525rem;
    margin-bottom: .159915rem;
    margin-right: .133262rem;
    border:1px solid rgba(228,228,228,1);
}
/* 合作条件 */
.conditions {
    background: #E8F4FC;
}
.conditions .content {
    width: 9.394989rem;
    margin: 0 auto;
    padding-bottom: .266525rem;
}
.conditions .item {
    width: 100%;
    display: flex;
    background: #fff;
    margin-bottom: .399787rem;
}
.conditions .item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 .399787rem;
}
.conditions .item img {
    width: 3.771322rem;
    height: 2.132196rem;
}
.conditions .item h4 {
    color: #0D559F;
    font-size: .346482rem;
}
.conditions .item p {
    color: #757575;
    font-size: .266525rem;
}
.blue {
    color: #0D559F;
}
/* 寻找城市合伙人 */
.search .content p {
    font-size: .266525rem;
    color: #434343;
    text-align: center;
}
.search .content-list {
    margin: 0 auto;
    background: #E7F3FB;
    width: 8.635394rem;
    height: 3.571429rem;
    position: relative;
    margin-top: .399787rem;
    margin-bottom: .399787rem;
    padding-left: 1.51919rem;
    padding-top: .199893rem;
}
.search .content-list:after{
    position: absolute;
    top: 100%;
    left: 50%;
    content: '';
    display: block;
    margin-left: -0.399787rem;
    border-left: 0.399787rem solid transparent;
    border-right: 0.399787rem solid transparent;
    border-top: 0.399787rem solid #ebf0f6;
}
.search .content-list li .num {
    display: inline-block;
    width: .533049rem;
    height: .533049rem;
    background: #0E56A0;
    color: #fff;
    line-height: .533049rem;
    text-align: center;
    position: relative;
    margin-right: 8px;
    font-size: .266525rem;
}
.search .content-list li .num::after {
    display: inline-block;
    content: '';
    position: absolute;;
    width:0;
    height:0;
    border-top: .053305rem solid transparent;
    border-left: .10661rem solid #0E56A0;
    border-bottom: .053305rem solid transparent;
    right: -0.10661rem;
    top: .21322rem;
}
.search .content-list li span {
    font-size: .293177rem;
    color: #0D559F;
}