/* 头部 */
.header-cot {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.header-cot >img {
    width: 1920px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
.header-cot header {
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(14,86,160,0.9);
    z-index: 99;
}
.wrap h3 {
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
    color: #0E56A0;
}
/* 头部中间文案以及tab */
.header-cot .category {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 825px;
}
.header-cot .category p {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.header-cot .category p:first-child {
    font-weight: normal;
}

.header-cot .category ul {
    margin-top: 110px;
}
.header-cot .category li {
    float: left;
    margin-right: 75px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-cot .category li:last-child {
    margin-right: 0;
}
.header-cot .category li.active {
    background: #fff;
    border-radius:10px 10px 0px 0px;
}
.header-cot .category li.active span {
    color: #130F16;
}
.header-cot .category li img {
}
.header-cot .category li span {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 5px;
}

/* 方案背景 */
.fananBg .content {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    line-height: 38px;
}
/* 方案特点 */
.cooperation {
    background: #E8F4FC;
    margin-top: 40px;
    padding-bottom: 60px;
}
.cooperation li {
    float: left;
    width: 370px;
    /* height: 360px; */
    margin-right: 45px;
    text-align: center;
    padding: 30px;
    background: #fff;
}
.cooperation li:last-child {
    margin-right: 0;
}
.cooperation li .line {
    width: 52px;
    height: 4px;
    background: #0E56A0;
    border-radius:2px;
    margin: 0 auto;
    margin-bottom: 26px;
}
.cooperation li h4 {
    color: #434343;
    font-size: 22px;
    margin: 44px 0 20px 0px;
}
.cooperation li p {
    color: #757575;
    font-size: 16px;
    height: 120px;
    line-height: 32px;
}
/* 方案构成 */
.structure {
    height: 875px;
    width: 100%;
    background: url('../../img/solution/structure-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.structure.city {
    height: 736px;
}
.structure.school {
    height: 995px;
}
.structure.site {
    height: 789px;
    background: url('../../img/solution/structure-3000-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.structure .wrap {
    text-align: center;
}
.structure img {
    margin-top: 93px;
}
.structure.school img {
    margin-top: 53px;
}
.structure.city img  {
    margin-top: 46px;
}